<div class="row d-flex justify-content-center">
   <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
         <div class="col-md-8">
            <div class="card-body">
               <h5 class="card-title">{{detalleJuego.nombre}}</h5>
               <p class="card-text">{{detalleJuego.descripcion}}</p>
               <p class="card-text">{{detalleJuego.fechaLanzamiento}}</p>
               <p class="card-text">{{detalleJuego.genero_id.descripcion}}</p>
               <p class="card-text">{{detalleJuego.genero_id.caracteristicasTipicas}}</p>
            </div>
            <a class="btn btn-success" (click)="actualizarJuego(detalleJuego._id)">Actualizar</a>
            <a class="btn btn-primary" routerLink="">Aceptar</a>
         </div>
      </div>
   </div>
</div>